
#new { width: 500px; }

span {
    width: 500px;
    display: flex;
    justify-content: center;
}

label {
    text-align: center;
    padding-top: 10px;
}

/* phone */

@media screen and (max-width: 478px) {
    #new { width: 90%; }
    span { width: 90%; }
}
